.businesses-box{

}

.business-label{
    padding-left:450px;
    color: #333333;
    font-family: sans-serif;
    font-size: 18px;
    border-bottom: solid;
    border-style: inset;
    border-bottom-width: thin;
    padding-bottom: 20px;
    padding-top: 25px;

}
.business-map{
    padding-top: 29px;
}

.bigger-biz-box{
display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px;
}

.biggest-biz-box{

}

.form-page-header{
    background-color: coral;
    display: flex;
    justify-content: center
}

.kelp-logo-form-page{
  display: flex;
  /* margin: 10px auto; */
  padding: 7px 0;
  /* height: 30px; */
  width: 100px;
  /* background-color: powderblue; */
  padding-right: 30px;
}

.all-results{

}