.businesses-box{

}

.business-label{
    padding-left:450px;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    border-bottom: solid;
    border-style: inset;
    border-bottom-width: thin;
    padding-bottom: 20px;
    padding-top: 25px;

}
.business-map{
    padding-top: 29px;
}

.bigger-biz-box{
display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px;
}

.biggest-biz-box{

}

.form-page-header{
    background-color: coral;
    display: flex;
    justify-content: center
}

.kelp-logo-form-page{
  display: flex;
  /* margin: 10px auto; */
  padding: 7px 0;
  /* height: 30px; */
  width: 100px;
  /* background-color: powderblue; */
  padding-right: 30px;
}

.all-results{

}

.index-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
}

.logo-link-biz-page{

}

.kelp-logo-biz-page{
height: 35px;
padding-right: 22px;
}

.biz-search{
margin-top: -3px;
}

.biz-near-label{
/* padding: 11px; */
    box-shadow: none;
    border: none;
    border-radius: 4px;
    background: #fff;
    margin: -5px;
    color: #666666;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    border-left: solid
}

.biz-find-label{
    /* padding: 11px; */
    box-shadow: none;
    border: none;
    border-radius: 4px;
    background: #fff;
    margin: -5px;
    color: #666666;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;

}

.biz-find-search{
    box-shadow: none;
    border: none;
    border-radius: 4px;
    background: #fff;
    outline-width: 0;
    font-size: 18px;
    width: 300px;
}

.biz-near-search{
    box-shadow: none;
    border: none;
    border-radius: 4px;
    background: #fff;
    outline-width: 0;
    font-size: 18px;
    width: 300px;
}

.biz-search-button{
    padding-bottom: 8px;
    padding-top: 12px;
    margin-left: 5px;
    background: red;
    padding-right: 15px;
    border-radius: 4px;

}

