.form-page-header{
    background-color: coral;
    display: flex;
    justify-content: center
}

.kelp-logo-form-page{
  display: flex;
  /* margin: 10px auto; */
  padding: 7px 0;
  /* height: 30px; */
  width: 100px;
  /* background-color: powderblue; */
  padding-right: 30px;
}

.business-title-show{
  color: #333333;
  font-size: 30px;
  padding-bottom: 7px;
  font-weight: bold;
}

.business-category-show{
    color: #0073bb;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 30px;
}

.business-category-show span{
  color: #333333;
}

.business-rating-show{
    font-size: 20px;
    color: salmon;
    padding-bottom: 15px;
}

.business-rating-show span{
  color: #666666;
  font-size: 16px;
  padding-left: 5px;
}

.show-page{
display: flex;
justify-content: center;
/* padding-left: 475px; */
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.title-area{
    margin-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
}

.show-map{

}

.biz-hours{
  font-weight: bold;
  font-size: 14px;
}

.business-description-show{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 25px;
    padding-top: 10px;
    margin-bottom: 40px;
}

.each-review{

}

.show-reviews{

}

.show-addy{
padding-bottom: 3px;
font-size: 14px;
}

.show-left{
  width: 605px;
  margin-right: 50px;
}

.show-right{
  width: 320px;
  border-bottom: 1px solid #e6e6e6;
}

.business-photos{
      display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

.map-and-hours{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.h2-map{
color: #333333;
    font-size: 16px;
    font-weight: bold;
}

.h2-description{
color: #333333;
    font-size: 16px;
    font-weight: bold;
        padding-bottom: 10px
}

.show-description{
    font-size: 14px;
    color: #333333;
}

.show-page-pics{
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.show-page-pic{
  width: 25%;
}

.show-map-2{
     width: 320px;
    height: 210px;
    padding-right: 35px;
}

.review-index-box{
  
}

.biz-hours2{
  font-weight: normal;
  padding-left: 25px;
}
.biz-hours3{

}
.biz-hours4{

}

.get-bizzy{
      display: flex;
    justify-content: space-between;
        padding-bottom: 5px;
}

.addresses-show{
border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 40px;
    position: fixed;
    padding-right: 153px;
    display: flex;
}

.gettem-directos{
color: #0073bb;
padding-bottom: 3px;
}

.starcon-list2{

}

.business-rev-link-show{

}

.dot {
height: 2px;
    width: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3px;
}

.review-show-write-button{
padding: 3px;
    padding-bottom: 6px;
    padding-left: 17px;
    text-decoration: none;
    color: #666666;
    font-weight: bold;
    padding-right: 17px;
    text-align: center;
    cursor: pointer;
    margin: auto;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.review-show-write-button:hover{
  background-color: lightpink;
  transition: .5s;
}

.review-show-write-button span{
  color: salmon;
  font-size: 12px;
}

.directocon{
color: #666666;
}

.show-right-right-side{

}