.form-page-header{
    background-color: coral;
    display: flex;
    justify-content: center
}

.kelp-logo-form-page{
  display: flex;
  /* margin: 10px auto; */
  padding: 7px 0;
  /* height: 30px; */
  width: 100px;
  /* background-color: powderblue; */
  padding-right: 30px;
}

.business-title-show{
  color: #333333;
  font-size: 30px;
  padding-bottom: 7px;
  font-weight: bold;
}

.business-category-show{
    color: blue;
    font-size: 14px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
}

.business-rating-show{

}

.show-page{
display: flex;
justify-content: flex-start;
padding-left: 475px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title-area{

}

.show-map{

}

.biz-hours{
  font-weight: bold;
  font-size: 14px;
}

.business-description-show{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-bottom: 40px;
}

.each-review{

}

.show-reviews{

}

.show-addy{

}

.show-left{
  width: 605px;
  margin-right: 50px;
}

.show-right{
  
}

.business-photos{
      display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

.map-and-hours{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    padding-top: 20px;
    margin-bottom: 40px;
}

.h2-map{
color: #333333;
    font-size: 16px;
    font-weight: bold;
}

.h2-description{
color: #333333;
    font-size: 16px;
    font-weight: bold;
}

.show-description{

}

.show-page-pics{
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.show-page-pic{
  width: 25%;
}

.show-map-2{
    width: 300px;
    padding-right: 35px;
}

.review-index-box{
  
}

.biz-hours2{
  font-weight: normal;
  padding-left: 25px;
}
.biz-hours3{

}
.biz-hours4{

}

.get-bizzy{
      display: flex;
    justify-content: space-between;
        padding-bottom: 5px;
}