.footer-img{
    height: 200px;
    width: 530px;
}

.github-link{
      color: #d32323;
    font-weight: bold;
    text-decoration: none;

}

.linkedin-link{
    color: #d32323;
    font-weight: bold;
    margin-right: 265px;
    text-decoration: none;
}

.linkedin-link:hover{
    border-bottom: solid;
}
.github-link:hover{
    border-bottom: solid;
}

.page-bottom{
display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
    align-items: center;
    margin-top: 20px;
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.links{
margin-top: 15px;
    margin-bottom: 15px;
}