 /* div for header when logged in */
.logged-in-header{ 
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 876px;
    padding: 45px;
}
/* button for logout when logged in */
.header-logout-button{
    display: flex;
    align-items: center;
    padding: 7px 14px 6px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 25px;
    cursor: pointer;
}
.header-logout-button{
  background-color: #fff;
  color: gray;
   transition-delay:.2s;
}
 /* nav for header when not logged in */
.login-signup-header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 876px;
    padding: 45px;
  /* border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; */
}
/* div containing both of the buttons for login and signup */
.login-signup-buttons{
   display: flex;
   justify-content: space-between;
}
/* login button when not logged in */
.login-header{
    display: flex;
    align-items: center;
    padding: 7px 14px 6px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding-right: 25px;

}
.login-header:hover{
  text-decoration: underline;
}
/* signup button when not logged in */
.signup-header{
    background: transparent;
    box-shadow: none;
    border-radius: 4px;
    border: 2px solid #fff;
    margin-top: -2px;
    padding: 7px 14px 6px;
    color: #fff;
    align-items: baseline;
    text-decoration: none;
    transition: 0s background-color;
    font-weight: bold;
}
.signup-header:hover{
  background-color: #fff;
  color: gray;
   transition-delay:.2s;
}
.review{
  color: white;
  font-weight: bold;
}
/* .login-header :hover{
  background-color: #fff;
} */

.header-name{
  color: white;
  font-weight: bold;
  font-size: 24px;
}