 /* div for header when logged in */
.logged-in-header{ 
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 936px;
    padding: 32px;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* button for logout when logged in */
.header-logout-button{
    display: flex;
    align-items: center;
    padding: 9px 20px 9px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 25px;
    cursor: pointer;
}
.header-logout-button{
  background-color: #fff;
  color: gray;
   transition-delay:.2s;
}
 /* nav for header when not logged in */
.login-signup-header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 936px;
    padding: 32px;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; */
}
/* div containing both of the buttons for login and signup */
.login-signup-buttons{
   display: flex;
   justify-content: space-between;
   font-size: 14px;
}
/* login button when not logged in */
.login-header{
    display: flex;
    align-items: center;
    /* padding: 7px 14px 6px; */
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-right: 25px; */

}
.login-header:hover{
  border-bottom: solid;
}
/* signup button when not logged in */
.signup-header{
    background: transparent;
    box-shadow: none;
    border-radius: 4px;
    border: 2px solid #fff;
    margin-top: -2px;
    padding: 9px 24px 9px;
    color: #fff;
    align-items: baseline;
    text-decoration: none;
    transition: 0s background-color;
    font-weight: bold;
    margin-right: -12px;
}
.signup-header:hover{
  background-color: #fff;
  color: gray;
   transition-delay:.2s;
}
.review-header{
     color: white;
    font-weight: bold;
    text-decoration: none;
    /* padding-bottom: 5px; */
}

.review-header:hover{
   border-bottom: solid;
   padding-bottom: 5px;
}


.header-name{
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.header-links{

}

.header-linkedin-link{

        color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.header-github-link{
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 22px;
    margin-right: 12px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.left-side-header{
 display: flex;
 flex-direction: row;
 font-size: 14px;
}

.header-github-link:hover{
  border-bottom: solid;
}
.header-linkedin-link:hover{
  border-bottom: solid;
}

.find-input-box{

}


.near-input-box{

}

.header-pp{

}
.header-pp2{
height: 65px;
    width: 65px;
    padding-left: 450px;
}

.right-side-loggout{

}