/* overall home page */
.home-page{

}
/* div for header and form */
.header-and-form{
background-image: url("krabbyPatty.png");
 /* display: flex; */
/* padding: 10px;  */
/* background-size: 400px; */
background-size: 100% 100%;
height: 400px;
margin-bottom:10px;
}
/* search form for home page */
.home-page-search{
 text-align: center;
 /* padding: 40px; */
}
.logo-link{
text-align: center;
}
/* logo for kelp */
.kelp-logo{
    height: auto;
    width: 150px;
    padding-bottom: 30px;
}

/* label for near input */
.near-label{

}
/* label for find input */
.find-label{

}
/* input field for near */
.near-search{

}
/* input field for find */
.find-search{

}
/* div for the objects under search bar */
.under-search{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* label for best business text */
.best-business{
    font-size: 21px;
    /* line-height: 1.28571em; */
    font-weight: bold;
    color: #d32323;
}
/* image for krustyKrab */
.krusty-krab{

}

.logo-and-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}