@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* overall entry div */
.kelp-entry-form{
    display: flex;
    justify-content: space-evenly;
    padding: 120px;
}
/* high fiving image */
.sponge-five{
    border-radius: 50%;
    height: 350px;
    width: 350px;

}
/* signup form */
.signup-form-box{
    text-align: center;
    display: flex;
    /* margin: 20px; */
    flex-direction: column;
    width: 275px;
}
/* this houses email and password inputs that will be on forms */
.signup-login-form{
    display: flex;
    flex-direction: column;

}
.email-input{
  margin: 5px;
  width: 95%;
  border-radius: 2px;

  

}

.password-input{
  width: 95%;
  margin: 5px;
  border-radius: 2px;
}
/* email and password inputs that will be on forms */
.signup-login-input{

}
/* this is only on the signup page */
.signup-first-last{
    display: flex;
    justify-content: space-evenly;
}

/* this is the inputs for whats only on signup page */
.signup-input{
  border-radius: 2px;
}
/* input to submit the form */
.session-submit{
    width: 100%;
    cursor: pointer;    
    padding: 7px;
    font-size: 16px;
    color: #fff;
    background: blue;
    border: 1px solid blue;
    border-radius: 4px;
    font-weight: bold;
}
/* this is what appears under the form */
.under-submit-session{
    font-size: 14px;
    line-height: 1.5em;
    color: turquoise;
    font-weight: normal;
    float: right;
    padding-top: 10px;
    text-decoration: none;
}
.under-submit-session a{

    text-decoration: none;
}
/* logo link container */
.kelp-logo-form-page{
  display: flex;
  /* margin: 10px auto; */
  padding: 7px 0;
  /* height: 30px; */
  width: 100px;
  /* background-color: powderblue; */
  padding-right: 30px;
}
/* logo link to homepage */
.logo-link-form-page{
  

}

.form-page-header{
    background-color: coral;
    display: flex;
    justify-content: center
}

.signup-login-h2{
    font-weight: bold;
    margin-bottom: -5px;
    color: blue;
    font-size: 24px;
}
.subhead{
    font-weight: bold;
    font-size: 16px;
}

.terms-and-condits{
    color: #333;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 10px
}

.up-top{
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
}

.or-line{
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #ccc; 
   line-height: 0.1em;
   margin: 30px 0 20px; 
   color: #ccc
}

.or-span{
      background:#fff; 
    padding:0 10px; 
}

.demo-redirect{
 color: blue;
 font-weight: bold;
}

.fixy-fix{
    text-align: center;
    /* display: flex; */
    /* margin: 20px; */
    /* flex-direction: column; */
    width: 275px;
    padding-right: 200px;
    padding-top: 45px;
    padding-left: 10px;
}
.fixy-fix2{
display: flex;
  flex-direction: column;
}
.fixy-fix3{
display: flex;
    flex-direction: row;
}

.big-error-hours {
    margin: 10px 0px;
    padding: 12px;
    color: black;
    background-color: #FFD2D2;
    /* position: initial; */
    /* top: 0; */
    position: relative;
    top: -100px;
    padding: 20px;
    width: 100%;
}

