/* overall entry div */
.kelp-entry-form{

}
/* high fiving image */
.spongeFive{

}
/* signup form */
.signup-form-box{

}
/* this houses email and password inputs that will be on forms */
.signup-login-form{

}
/* email and password inputs that will be on forms */
.signup-login-input{

}
/* this is only on the signup page */
.signup-first-last{

}
/* this is the inputs for whats only on signup page */
.signup-input{

}
/* input to submit the form */
.session-submit{

}
/* this is what appears under the form */
.under-submit-session{

}
/* logo link container */
.kelp-logo-form-page{
  display: flex;
  /* margin: 10px auto; */
  padding: 7px 0;
  height: 30px;
  width: 70px;
  /* background-color: powderblue; */
}
/* logo link to homepage */
.logo-link-form-page{
  

}

.form-page-header{
    background-color: powderblue;
    display: flex;
    justify-content: center;
}